<div class="intro-header grey lighten-2">
  <a  [routerLink]="['/ujres-student']" class="waves-effect waves-black btn back-btn z-depth-0">
    <i class="material-icons">arrow_back</i>
  </a>
  <p class="page-title">ISSUES</p>
</div>
<section class="student-issue-body row" *ngIf="!is_issues_loading">
<!--<editor-fold description="My Issue block">-->
    <div class="col l3 m4 s12 my-issue-section">
      <div class="card white margin-top-0">
        <div class="card-content main-card-content">
          <div class="row margin-0 title-content">
            <p class="issue-section-title">My Issues</p>
          </div>
          <section *ngIf="my_issues.length > 0; else issueEmpty">
            <div  class="card white issue-card" *ngFor="let issue of my_issues">
              <div class="card-content" [style.background-color]="(issue.si_status == 0)? 'rgba(255, 0, 0, .6)' : ''">
                <div class="row margin-0">
                  <div class="col l10 m10 s10 no-padding">
                    <p class="issue-details-block">
                      <span class="room-no">{{issue.si_description}}</span>
                    </p>
                  </div>
                  <div class="col l2 m2 s2 no-padding">
                    <i class="material-icons right waves-effect waves-black" (click)="openViewIssueRoomModal(issue)">visibility</i>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <ng-template #issueEmpty>
            <div class="card white issue-card">
              <div class="card-content">
                <p><span class="issue-title">No Issue found!</span>
                </p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
<!--</editor-fold>-->

<!--<editor-fold description="Add Issue block">-->
    <div class="col l9 m8 s12 add-new-issue">
      <div class="card white margin-top-0">
        <div class="card-content main-card-content">
          <div class="row margin-0 title-content">
            <p class="issue-section-title">Add new issue</p>
          </div>
          <section class="add-new-issue-container row">
              <div class="col l6 m12 s12">
                <div class="row issue-img-block">
                  <div class="file-field input-field col offset-l1 l10 offset-m3 m6 s12 image-upload-input">
                    <div class="btn">
                      <span><i class="material-icons">add_a_photo</i></span>
                      <input type="file" accept="image/*" #NewIssueImage (change)="fileImgChanged($event)">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" #NewIssueImageCopy >
                    </div>
                  </div>
                  <div class="img-section">
                    <img src="{{(!issue_img) ? 'http://via.placeholder.com/450x250' :  issue_img }}" materialize="materialbox" class="article-img materialboxed">
                  </div>
                </div>
              </div>
              <div class="col l6 m12 s12 issue-msg-block">
                  <textarea name="msg" id="msg"
                            [(ngModel)]="issue_text"
                            class="materialize-textarea msg-textArea"
                            placeholder="Enter your issue message here" required></textarea>
              </div>
              <div class="col l12 m12 s12 center margin-0">
                <div class="row btn-signIn-section">
                  <button (click)="saveIssue()" class="waves-effect waves-light btn btn-send">Send</button>
                </div>
              </div>
          </section>
        </div>
        <app-preloader-intermediate *ngIf="is_submittingIssue"></app-preloader-intermediate>
      </div>
    </div>
<!--</editor-fold>-->
</section>

<!--<editor-fold Description="page Loading section">-->
<section class="issue-loader" *ngIf="is_issues_loading">
  <app-preloader-circle [size]="'big'" [width]="'100px'" [border]="'4px'"></app-preloader-circle>
</section>
<!--</editor-fold>-->

<!--<editor-fold Description="show issue Modal">-->
<div  class="modal modal-fixed-footer read-student-issue-modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="open_issue_modalActions">
  <div class="modal-content">
    <h4 class="modal-title">Issue</h4>
    <p class="message">
      {{modal_issue_data?.si_description}}
    </p>
    <div class="img-block">
      <img src="{{ (modal_issue_data?.si_image) ? issue_src + modal_issue_data?.si_image : 'http://via.placeholder.com/350x350' }}"
           class="img">
    </div>
    <div class="reply-box">
      <span class="admin-reply">Admin Reply: </span>
        <textarea [disabled]="true"
                  class="message-text-area browser-default"
                  name="reply_messageText"
                  [(ngModel)]="si_admin_reply"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <a (click)="this.open_issue_modalActions.emit({action: 'modal' , params:['close']})"
       class="modal-action modal-close waves-effect waves-green btn-flat dismiss-btn">Dismiss</a>
  </div>
</div>
<!--</editor-fold>-->