<section class="admin-residence">
  <div class="residence-header grey lighten-2">
    <p class="page-title">Residences</p>
  </div>

<!--<editor-fold Description="Residences card and search input section"> -->
<div class="row accom-list" *ngIf="!residence_loading">
  <!--<editor-fold Description="Search residence input"> -->
    <div class="row search-input">
      <div class="input-field col offset-l4 l4 offset-m3 m6 s12">
        <i class="material-icons prefix">search</i>
        <input type="text" [(ngModel)]="search_res" name="search_res" id="search_res" class="validate" placeholder="" autofocus/>
        <label class="active" for="search_res">Search Residence</label>
      </div>
    </div>
  <!-- </editor-fold>-->
  <!--<editor-fold Description="Residences list card"> -->
    <div class="col s12 m6 l4 card-section" *ngFor="let res of residences_data | filter:search_res:['acc_name', 'campus_name_alias']">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light activator">
          <img [src]="(res.acc_img ? res_mainImgUrl + res.acc_img : 'http://via.placeholder.com/350x120')">
          <span class="card-title">{{res.campus_name_alias}} <br> {{res.acc_name}}</span>
        </div>
        <div class="card-action">
          <a (click)="gotToResidence(res)" class="waves-effect waves-black btn transparent z-depth-0">Edit</a>
          <a (click)="showDeleteResModal(res.acc_id, res.acc_name, res.acc_img)" class="card-title grey-text text-darken-4"><i class="material-icons right waves-effect waves-black red-text">delete_forever</i></a>
          <a class="card-title activator grey-text text-darken-4"><i class="material-icons right waves-effect waves-black ">more_vert</i></a>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
              {{res.campus}} <br> {{res.name}}
              <i class="material-icons right waves-effect waves-black">close</i>
            </span>
          <p class="res_descr">{{res.acc_descr}}</p>
        </div>
      </div>
    </div>
  <!-- </editor-fold>-->
</div>
<!-- </editor-fold>-->

<!--<editor-fold Description="Fab Buttons"> -->
  <div class="fixed-action-btn top">
    <a class="btn-floating btn-large menu-btn">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li>
        <a (click)="showDownloadResModal()" class="btn-floating red" materialize="tooltip" data-position="left" data-delay="20" data-tooltip="Download all residences">
          <i class="material-icons">file_download</i>
        </a>
      </li>
      <li>
        <a (click)="openAddResModal()" class="btn-floating grey darken-1" materialize="tooltip" data-position="left" data-delay="20" data-tooltip="Add new residence">
          <i class="material-icons">add</i>
        </a>
      </li>
    </ul>
  </div>
<!-- </editor-fold>-->

  <div class="residence_loader_section" *ngIf="residence_loading">
    <app-preloader-circle [size]="'big'" [width]="'100px'" [border]="'4px'"></app-preloader-circle>
  </div>
</section>

<!--<editor-fold Description="add new residence modal"> -->
<div class="modal modal-fixed-footer add-res-modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="add_res_modalActions">
  <app-preloader-intermediate *ngIf="is_addingNewRes"></app-preloader-intermediate>
  <div class="modal-content">
    <h4 class="modal-title">Add New Residence</h4>
    <div class="row margin-0">

      <div class="input-field col s12 m6 l6">
        <input placeholder="" name="res_name" id="res_name"  [(ngModel)]="new_res.acc_name" type="text" class="validate"  required>
        <label class="active" for="res_name">Campus Name *</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <input placeholder=""  name="res_capacity" id="res_capacity" [(ngModel)]="new_res.acc_capacity" type="number" class="validate" required>
        <label class="active" for="res_capacity">Capacity *</label>
      </div>

      <div class="input-field col s12 m12 l6">
        <textarea placeholder="" [(ngModel)]="new_res.acc_descr" name="res_descr" id="res_descr" class="materialize-textarea" rows="1" maxlength="500"></textarea>
        <label class="active" for="res_descr">Residence description</label>
      </div>

      <div class="input-field col s12 m6 l6 res_type_select">
        <select materialize="material_select" name="res_type" #Acc_Type [(ngModel)]="new_res.acc_type" >
          <option value="mixed">Mixed</option>
          <option value="M">Male Only</option>
          <option value="F">Female Only</option>
        </select>
        <label>Residence Type</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <input placeholder="-26.183742"  name="res_lat" id="res_lat" [(ngModel)]="new_res.acc_lat" type="number" class="validate" required>
        <label class="active" for="res_lat">Latitude *</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <input placeholder="27.997683"  name="res_long" id="res_long" [(ngModel)]="new_res.acc_long" type="number" class="validate" required>
        <label class="active" for="res_long">Longitude *</label>
      </div>

      <div class="input-field col s12 m6 l6">
        <input placeholder=""  name="acc_no_rooms" id="acc_no_rooms" [(ngModel)]="new_res.acc_no_rooms" type="number" class="validate" required>
        <label class="active" for="acc_no_rooms">Number of Rooms *</label>
      </div>

      <div class="input-field col s12 m6 l6 campus-select">
        <select materialize="material_select" name="campus_id" #CampusID>
          <option value="1" selected>APK</option>
          <option value="2">APB</option>
          <option value="3">SWC</option>
          <option value="3">DFC</option>
        </select>
        <label>Campus Name *</label>
      </div>

      <div class="file-field input-field col s12 m12 l12 image-upload-input">
        <div class="btn">
          <span><i class="material-icons">add_a_photo</i></span>
          <input type="file" accept="image/*" #NewResImage>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" #NewResImageNameCopy>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a (click)="this.add_res_modalActions.emit({action: 'modal' , params:['close']})" class="modal-action modal-close waves-effect waves-green btn-flat dismiss-btn">Dismiss</a>
    <a (click)="submitNewAccommodation()" class="waves-effect waves-black btn-flat save-btn">Save</a>
  </div>
</div>
<!-- </editor-fold>-->

<!--<editor-fold Description="delete residence modal"> -->
<div id="modal1" class="modal delete-res-modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="delete_res_modalActions">
  <app-preloader-intermediate *ngIf="residence_loading"></app-preloader-intermediate>
  <div class="modal-content">
    <h4 class="modal-title">Delete Residence</h4>
    <p class="delete-message">Are you sure to delete residence <b>{{delete_res_name}}</b>?</p>
  </div>
  <div class="modal-footer">
    <a (click)="this.delete_res_modalActions.emit({action: 'modal' , params:['close']})" class="modal-action modal-close waves-effect waves-green btn-flat dismiss-btn">Dismiss</a>
    <a (click)="deleteResData(delete_res_no, delete_res_name, delete_res_Img)" class="waves-effect waves-black btn-flat save-btn">Yes</a>
  </div>
</div>
<!-- </editor-fold>-->

<!--<editor-fold Description="download residence modal"> -->
<div class="modal modal-fixed-footer download-res-modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="download_res_modalActions">
  <app-preloader-intermediate *ngIf="is_downloading"></app-preloader-intermediate>
  <div class="modal-content">
    <h4 class="modal-title">Download Residences</h4>
    <div class="row margin-0">

      <div class="col l6 m6 s12 radio-btn-group">
          <span class="radio-1">
             <input materialize class="with-gap" name="show_desc" type="radio" id="show_desc" [(ngModel)]="show_descr" [value]="'show'" checked/>
             <label for="show_desc">Show Description</label>
          </span>
        <span class="radio-2">
             <input materialize class="with-gap" name="show_desc" type="radio" id="hide_desc" [(ngModel)]="show_descr" [value]="'hide'"/>
             <label for="hide_desc">Hide Description</label>
          </span>
      </div>

      <div class="col l6 m6 s12 radio-btn-group">
          <span class="radio-1">
             <input materialize class="with-gap" name="show_room" type="radio" id="show_room" [(ngModel)]="show_feature" [value]="'show'" checked/>
             <label for="show_room">Show Feature</label>
          </span>
        <span class="radio-2">
             <input materialize class="with-gap" name="show_room" type="radio" id="hide_room" [(ngModel)]="show_feature" [value]="'hide'"/>
             <label for="hide_room">Hide Feature</label>
          </span>
      </div>


      <div class="input-field col s12 m6 l6 res-type-select">
        <select materialize="material_select" name="campus_id" #ResType>
          <option value="all" selected>All gender</option>
          <option value="mixed">Mixed Residence Only</option>
          <option value="M">Male Residence Only</option>
          <option value="F">Female Residence Only</option>
        </select>
        <label>Residence Type</label>
      </div>

      <div class="input-field col s12 m6 l6 res-type-select">
        <select materialize="material_select" name="campus_id" #CampusToShow>
          <option value="all" selected>All Campuses</option>
          <option value="1">APK Only</option>
          <option value="2">APB Only</option>
          <option value="3">SWC Only</option>
          <option value="4">DFC Only</option>
        </select>
        <label>Campus</label>
      </div>

      <div class="col offset-l1 l11 m12 s12 radio-btn-group">
          <span class="radio-1">
             <input materialize class="with-gap" name="show_avail" type="radio" id="show_avail" [(ngModel)]="show_avail" [value]="'show'" checked/>
             <label for="show_avail">Show Number of Available Room</label>
          </span>
        <span class="radio-2">
             <input materialize class="with-gap" name="show_avail" type="radio" id="hide_avail" [(ngModel)]="show_avail" [value]="'hide'"/>
             <label for="hide_avail">Hide Number of Available Room</label>
          </span>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <a (click)="this.download_res_modalActions.emit({action: 'modal' , params:['close']})" class="modal-action modal-close waves-effect waves-green btn-flat dismiss-btn">Dismiss</a>
    <a (click)="downloadResData()" class="waves-effect waves-black btn-flat save-btn">Download</a>
  </div>
</div>
<!-- </editor-fold>-->