@font-face {
    font-family: ArialRoundedMtBold;
    src: local('Arial Rounded MT Bold'), url("./assets/fonts/roboto/Roboto-Regular.woff2");
}
@font-face {
    font-family: ArialRoundedMTRegular;
    src: local('Arial Rounded MT Regular');
}

@font-face {
    font-family: LearningCurveDashed;
    src: local('Learning Curve Dashed'), url("//db.onlinewebfonts.com/t/5e5f28ce478d699af1f9a2aed5fefd06.eot"),
    url("//db.onlinewebfonts.com/t/5e5f28ce478d699af1f9a2aed5fefd06.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5e5f28ce478d699af1f9a2aed5fefd06.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/5e5f28ce478d699af1f9a2aed5fefd06.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/5e5f28ce478d699af1f9a2aed5fefd06.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/5e5f28ce478d699af1f9a2aed5fefd06.svg#Learning Curve Dashed Pro") format("svg");

    // url("../modules/my-apostrophe-assets/fonts/roboto/LearningCurveDashed.ttf"),
    // url("../modules/my-apostrophe-assets/fonts/roboto/LearningCurveDashed_iefix.eot") format("embedded-opentype"),
    // url("../modules/my-apostrophe-assets/fonts/roboto/LearningCurveDashed.woff2") format("woff2"),
    // url("../modules/my-apostrophe-assets/fonts/roboto/LearningCurveDashed.woff") format("woff"),
    // url("../modules/my-apostrophe-assets/fonts/roboto/LearningCurveDashed.ttf") format("truetype"),
    // url("../modules/my-apostrophe-assets/fonts/roboto/LearningCurveDashed.svg") format("svg");
}
