@import "../../../shared/styles/media-queries";
@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixin.css";

nav {
  background: $primary-color;
  height: 60px;
  .nav-wrapper {
    .logoutBtn{
      i {
        font-size: 40px;
        height: 60px;
        line-height: 60px;
      }
    }
    .btn-menu-section {
      line-height: 0px;
      .btn-menu{
        height: 60px;
        background-color: transparent;
        border-radius: 0px;
        i {
          height: 60px;
          line-height: 60px;
        }
        &:hover{
          background-color: transparent;
        }
      }
    }
  }
}

.side-nav{
  z-index: 1999;
  .user-view {
    height: 176px;
    background: $primary-color;
    margin: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    img {
      height: 150px;
      width: 150px;
    }
  }
  .divider{ margin: 0px }
}
