$primary-color: #ed6400 !important;
$secondary-color: #FF4D1C !important;
$third-color: #ff8957 !important;
$forth-color: #ED9D2E !important;
$firth-color: #fff0dc !important;

$grey-color: #e0e0e0 !important;
$dark-grey-1-color: #bdbdbd !important;
