$tablet: 600px;
$desktop: 992px;
$larger_desktop: 1200px;


@mixin media-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $tablet - 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $desktop - 1) { @content; }
  }
  @else if $media == tablet_only {
    @media only screen and (min-width: $tablet + 1) and (max-width: $desktop - 1) { @content; }
  }

  @else if $media == desktop {
    @media only screen and (max-width: $larger_desktop - 1) { @content; }
  }

  @else if $media == desktop_only {
    @media only screen and (min-width: $desktop + 1) and (max-width: $larger_desktop - 1) { @content; }
  }

  @else if $media == lager_desktop {
    @media only screen and (min-width: $larger_desktop) { @content; }
  }

  @else if $media == desktop_and_lager_desktop {
    @media only screen and (min-width: $desktop + 1) { @content; }
  }

}
