<div class="preloader-wrapper {{size}} active"
     [ngStyle]="width && {'width': width, height: width}">

  <div class="spinner-layer spinner-blue">
    <div class="circle-clipper left">
      <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
    </div><div class="gap-patch">
    <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
  </div><div class="circle-clipper right">
    <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
  </div>
  </div>

  <div class="spinner-layer spinner-red">
    <div class="circle-clipper left">
      <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
    </div><div class="gap-patch">
    <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
  </div><div class="circle-clipper right">
    <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
  </div>
  </div>

  <div class="spinner-layer spinner-yellow">
    <div class="circle-clipper left">
      <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
    </div><div class="gap-patch">
    <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
  </div><div class="circle-clipper right">
    <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
  </div>
  </div>

  <div class="spinner-layer spinner-green">
    <div class="circle-clipper left">
      <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
    </div><div class="gap-patch">
    <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
  </div><div class="circle-clipper right">
    <div class="circle" [ngStyle]="border && {'border-width': border}"></div>
  </div>
  </div>
</div>
