@import "../../../shared/styles/media-queries";
@import "../../../shared/styles/variables";

.resStud-first-section {
  margin-bottom: 0px !important;
  .parallax-container {
    height: 350px;
    width: 100%;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to right, rgba(0,0,0, .5), rgba(0,0,0, .5));
    }
    .page-title {
      color: #ed6400;
      position: absolute;
      top: 43%;
      left: 50%;
      margin: 0px;
      transform: translate(-50%, -50%);
      font-family: "LearningCurveDashed", sans-serif;
      font-weight: 500;
      font-size: 8em;
      width: 100%;
      text-align: center;
      @include media-to(mobile) {
        font-size: 1.5em;
        font-family: "Open Sans", sans-serif;
      }
    }
  }
}

.resStud-loginform-section {
  .card {
    margin-top: -9em;
    margin-bottom: 80px;
    //height: 420px;
    .card-content{
      padding: 24px 0px;
      .card-title {
        color: rgba(42, 34, 37, 0.54);
        text-transform: uppercase;
        text-align: center;
      }
    }
    .card-inputs{
      padding: 45px 20px 0px 20px;
      .btn-signIn-section{
        .btn-signIn{
          width: 200px;
          background: $primary-color;
        }
      }
      .btn-forgotPassword-section {
        .btn-forgotPassword{
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}


